# Silja
Code/ContinuityMetropolis/dummy.cpp
Code/ContinuityMetropolis/dummy.x

Data/RescaledRegistered
Data/RescaledRegisteredSmoothed
Data/SyntheticTestData/old
Data/SyntheticTestData/*/dic

DIC/config.txt
DIC/Analysis/error_frames_overview.py
images
.vscode
notes.md

